<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube ChatBot Bot</title>
    <style>
        body {
            background-color: #141414;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

        a,
        a:visited {
            color: #fff;
            text-decoration: none;
        }

        .all {
            width: 100%;
            display: grid;
            grid-template-columns: 10fr 1.5fr;
            gap: 0px 0px;
        }

        .selected {
            background-color: #f9c7c8 !important;
            border: solid red 1px !important;
            z-index: 1 !important;
        }

        .list-group-item {
            background-color: #000;
            color: #FFF;
            font-size: 35px;
            border: solid #FFF 1px;
        }

        .chat-item {
            border: solid #FFF 1px;
            text-align: left;
        }

        #chat {
            overflow: scroll;
            height: 95vh;
        }

        .chatName {
            font-weight: bolder;
            color: #000;
            margin-top: 0px;
            font-size: 2vh;
            width: 99%;
        }

        .chatMessage {
            font-weight: normal;
            color: #000;
            margin-top: 0px;
            font-size: 2vh;
            width: 99%;
        }

        button:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="all">
        <div id="main">
            <div id="chat">
                <table style="border: solid #FFF 1px; color: #FFF; width: 99%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Hours</th>
                            <th>Last Message</th>
                            <th>Rank</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td><%=user.name%></td>
                                <th><%=user.points%></th>
                                <th><%=user.hours%></th>
                                <th><%=new Date(user.lastMSG).toString().split('GMT')[0]%></th>
                                <th><%=user.rank%></th>
                                <th><%=user.id%></th>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="side">
            <div id="list" class="list-group">
                <div class="list-group-item"><a href="/dashboard">Chat</a></div>
                <div class="list-group-item"><a href="/commands">Commands</a></div>
                <div class="list-group-item"><a href="/users">Users</a></div>
                <div class="list-group-item"><a href="/music">Music Player</a></div>
                <div class="list-group-item"><a href="/giveaway">Giveaway</a></div>
                <div class="list-group-item"><a href="/import">Importer</a></div>
            </div>
        </div>
    </div>
</body>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script>
    Sortable.create(list, {
        group: 'shared',
        multiDrag: false,
        animation: 150
    });

    function prependChild(newElement, parentElement) {
        var firstchild = parentElement.childNodes[0];
        parentElement.insertBefore(newElement, firstchild);
    }
</script>

</html>